.header{
    position: relative;;
    //width: 100%;
    .container{
        position:sticky;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        //margin-top: 20px;
        padding: 10px;
        background-color: black;
        img{
            
            height: auto;
            width: 25%;
        }
        h1{
            color: white;
            font-size: 2em;
        }
    }
}

